<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Today's Beers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- pull to refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- grid to show cards -->
  <ion-grid class="ion-padding">
    <ion-row class="row">
      <ion-col>
        <app-card-summary
          *ngIf="isLoadedBeers"
          [useTitle]="true"
          [beer]="beer1">
        </app-card-summary>

        <!-- show skeleton text while loading beer -->
        <ion-card *ngIf="!isLoadedBeers" style="margin: 0;">
          <ion-card-header>
            <ion-card-title>
              <ion-skeleton-text animated="true" style="height: 1.6rem; width: 90%"></ion-skeleton-text>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content style="margin-bottom: 0">
            <!-- image -->
            <div class="ion-justify-content-center" style="display: flex">
              <ion-skeleton-text animated="true"
                                 style="height: 19.054vh; width: 10vh; border-radius: 1vh"></ion-skeleton-text>
            </div>
            <div class="ion-justify-content-center ion-align-items-center" style="height: 6.25vh; display: flex">
              <ion-skeleton-text animated="true"
                                 style="height: 2.5vh; width: 2.5vh; border-radius: 1vh"></ion-skeleton-text>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col size="6">
        <app-card-summary
          *ngIf="isLoadedBeers"
          [useTitle]="false"
          [beer]="beer2">
        </app-card-summary>
      </ion-col>

      <ion-col size="6">
        <app-card-summary
          *ngIf="isLoadedBeers"
          [useTitle]="false"
          [beer]="beer3">
        </app-card-summary>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- FAB -->
  <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button (click)="onClickFab()">
      <ion-icon name="reload-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
