<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Today's Beers</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- pull to refresh -->
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!--  grid to show cards  -->
    <ion-grid class="ion-padding">
        <ion-row class="row">
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>{{beer1?.name}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <!--   prevent height change from lazy loading image   -->
                        <div class="img-container ion-margin-bottom">
                            <!--    lazy loading image    -->
                            <ion-img [src]="imageUrl1"></ion-img>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="row">
            <ion-col size="6">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>{{beer2?.name}}</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <!--   prevent height change from lazy loading image   -->
                        <div class="img-container ion-margin-bottom">
                            <!--    lazy loading image    -->
                            <ion-img [src]="imageUrl2"></ion-img>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>{{beer3?.name}}</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <!--   prevent height change from lazy loading image   -->
                        <div class="img-container ion-margin-bottom">
                            <!--    lazy loading image    -->
                            <ion-img [src]="imageUrl3"></ion-img>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
