<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar class="ion-margin-top" animated="true" placeholder="Enter beer name" showCancelButton="focus"
                   (ionChange)="onChangeSearchbar($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- beer list -->
  <ion-list *ngIf="isLoadedBeers else skeleton">
    <ion-item *ngFor="let beer of beers; index as i; trackBy: trackByBeerId" (click)="onClickItem(beer)">
      <ion-thumbnail slot="start">
        <ion-img [src]="beer.image_url ? beer.image_url : ALT_IMAGE_URL" style="object-fit: contain;"></ion-img>
      </ion-thumbnail>

      <ion-label>{{ beer.name }}</ion-label>

      <ion-button class="ion-no-margin" fill="clear" (click)="onClickFavButton($event, beer.id)">
        <!-- filled if favorite -->
        <ion-icon *ngIf="isFavorite(beer.id) else notFavorite" name="star" color="warning" slot="end"></ion-icon>
        <ng-template #notFavorite>
          <ion-icon name="star-outline" color="medium" slot="end"></ion-icon>
        </ng-template>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- show skeleton while loading -->
  <ng-template #skeleton>
    <ion-list>
      <ion-item *ngFor="let item of skeletonArray">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated="true"></ion-skeleton-text>
        </ion-thumbnail>

        <ion-label>
          <ion-skeleton-text animated="true"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>

  <!-- infinite scroll to load next beer list -->
  <ion-infinite-scroll *ngIf="isLoadedBeers" [disabled]="isSearched" (ionInfinite)="onScroll($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- FAB to open filtering sheet modal -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="open-modal">
      <ion-icon name="options-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- sheet modal for filtering settings -->
  <ion-modal #modal trigger="open-modal" handle="false" [initialBreakpoint]="0.9" [breakpoints]="[0, 0.9]"
             [canDismiss]="disableDismiss">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Filter Options</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">
              <ion-icon name="close-circle-outline" color="medium"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!-- filtering options -->
        <ion-list>
          <!-- ABV -->
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <ion-checkbox labelPlacement="end" justify="start" [(ngModel)]="isAbvEnabled">ABV:</ion-checkbox>
                </ion-col>
                <ion-col size="8">
                  <ion-range dualKnobs="true" pin="true" [value]="{lower: abvRange.min, upper: abvRange.max}"
                             [max]="abvRange.max" [disabled]="!isAbvEnabled" (ionChange)="onChangeAbv($event)">
                  </ion-range>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <!-- IBU -->
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <ion-checkbox labelPlacement="end" justify="start" [(ngModel)]="isIbuEnabled">IBU:</ion-checkbox>
                </ion-col>
                <ion-col size="8">
                  <ion-range dualKnobs="true" pin="true" [value]="{lower: ibuRange.min, upper: ibuRange.max}"
                             [max]="ibuRange.max"
                             [disabled]="!isIbuEnabled" (ionChange)="onChangeIbu($event)">
                  </ion-range>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <!-- EBC -->
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <ion-checkbox labelPlacement="end" justify="start" [(ngModel)]="isEbcEnabled">EBC:</ion-checkbox>
                </ion-col>
                <ion-col size="8">
                  <ion-range dualKnobs="true" pin="true" [value]="{lower: ebcRange.min, upper: ebcRange.max}"
                             [max]="ebcRange.max"
                             [disabled]="!isEbcEnabled" (ionChange)="onChangeEbc($event)">
                  </ion-range>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <!-- Brewed After -->
          <ion-item>
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <ion-col>
                  <ion-checkbox labelPlacement="end" justify="start" [(ngModel)]="isBrewedAfterEnabled">Brewed After:
                  </ion-checkbox>
                </ion-col>
                <ion-col>
                  <!-- button to show date picker -->
                  <ion-datetime-button datetime="brewed-after" [disabled]="!isBrewedAfterEnabled"></ion-datetime-button>
                  <!-- date picker -->
                  <ion-modal [keepContentsMounted]="true">
                    <ng-template>
                      <ion-datetime id="brewed-after" presentation="date" preferWheel="true" locale="en-us"
                                    showDefaultButtons="true" (ionChange)="onChangeBrewedAfter($event)"></ion-datetime>
                    </ng-template>
                  </ion-modal>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <!-- Brewed Before -->
          <ion-item>
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <ion-col>
                  <ion-checkbox labelPlacement="end" justify="start" [(ngModel)]="isBrewedBeforeEnabled">Brewed
                    Before:
                  </ion-checkbox>
                </ion-col>
                <ion-col>
                  <!-- button to show date picker -->
                  <ion-datetime-button datetime="brewed-before"
                                       [disabled]="!isBrewedBeforeEnabled"></ion-datetime-button>
                  <!-- date picker -->
                  <ion-modal [keepContentsMounted]="true">
                    <ng-template>
                      <ion-datetime id="brewed-before" presentation="date" preferWheel="true" locale="en-us"
                                    showDefaultButtons="true" (ionChange)="onChangeBrewedBefore($event)"></ion-datetime>
                    </ng-template>
                  </ion-modal>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>

        <!-- apply button -->
        <ion-button class="ion-margin-horizontal" shape="round"
                    style="position: fixed; bottom: 20vh; left: 0; right: 0"
                    (click)="modal.dismiss(); onApplyFiltering()">Apply
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
