<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar class="ion-margin-top" animated="true" show-cancel-button="focus"
                   debounce="1000" (ionInput)="handleInput($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- beer list -->
  <ion-list *ngIf="isLoaded1stPage else skeleton">
    <ion-item *ngFor="let beer of beers; index as i; trackBy: trackByBeerId" (click)="onClickItem(beer)">
      <ion-thumbnail slot="start">
        <ion-img [src]="beer.image_url ? beer.image_url : ALT_IMAGE_URL" style="object-fit: contain;"></ion-img>
      </ion-thumbnail>

      <ion-label>{{ beer.name }}</ion-label>

      <ion-button class="ion-no-margin" fill="clear" (click)="onClickFavButton($event, beer.id)">
        <!-- filled if favorite -->
        <ion-icon *ngIf="isFavorite(beer.id) else notFavorite" name="star" color="warning" slot="end"></ion-icon>
        <ng-template #notFavorite>
          <ion-icon name="star-outline" color="medium" slot="end"></ion-icon>
        </ng-template>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- show skeleton while loading -->
  <ng-template #skeleton>
    <ion-list>
      <ion-item *ngFor="let item of skeletonArray">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated="true"></ion-skeleton-text>
        </ion-thumbnail>

        <ion-label>
          <ion-skeleton-text animated="true"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>

  <!-- infinite scroll to load next beer list -->
  <ion-infinite-scroll *ngIf="isLoaded1stPage" (ionInfinite)="handleScroll($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- FAB -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="open-modal" size="small">
      <ion-icon name="options-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- sheet modal for filtering settings -->
  <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.9" [breakpoints]="[0, 0.9]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Filter</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">
              <ion-icon name="close-circle-outline" color="medium"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-searchbar show-cancel-button="focus"></ion-searchbar>
        <div class="ion-padding-horizontal ion-padding-end">
          <!--          <ion-list>-->
          <!--            <ion-item>-->
          <ion-range class="ion-no-padding" labelPlacement="fixed" label="ABV:" dualKnobs="true"
                     [value]="{lower: 0, upper: 100}"
                     pin="true"></ion-range>
          <!--            </ion-item>-->
          <!--            <ion-item>-->
          <ion-range class="ion-no-padding" labelPlacement="fixed" label="IBU:" dualKnobs="true"
                     [value]="{lower: 0, upper: 100}"
                     pin="true"></ion-range>
          <!--            </ion-item>-->
          <!--            <ion-item>-->
          <ion-range class="ion-no-padding" labelPlacement="fixed" label="ebc:" dualKnobs="true"
                     [value]="{lower: 0, upper: 100}"
                     pin="true"></ion-range>
          <!--            </ion-item>-->
          <!--          <ion-item>-->
          <div class="ion-padding-vertical">
            <ion-label>Brewed Between</ion-label>
          </div>

          <div style="display: flex; justify-content: center; align-items: center">
            <ion-datetime-button datetime="from">date</ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="from" presentation="date" locale="en-us"></ion-datetime>
              </ng-template>
            </ion-modal>

            <ion-text>-</ion-text>

            <ion-datetime-button datetime="to">date</ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="to" presentation="date" locale="en-us"></ion-datetime>
              </ng-template>
            </ion-modal>
          </div>
          <!--          </ion-item>-->
          <!--          </ion-list>-->
          <ion-button class="ion-margin-top" expand="block" shape="round" (click)="modal.dismiss()">Apply</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
