<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="isLoadedBeers && favBeers.length === 0 else list"
       style="height: 100%; display: flex; justify-content: center; align-items: center">
    <h1>No favorites yet.</h1>
  </div>
  <!-- beer list -->
  <ng-template #list>
    <div *ngIf="isLoadedBeers else skeleton" class="ion-padding-horizontal">
      <div *ngFor="let beer of favBeers; index as i; trackBy: trackByBeerId; let isLast = last"
           class="ion-margin-top" [ngClass]="{'ion-margin-bottom': isLast}">
        <app-card-summary [beer]="beer"></app-card-summary>
      </div>
    </div>
  </ng-template>

  <!-- show skeleton while loading -->
  <ng-template #skeleton>
    <div class="ion-padding-horizontal">
      <div *ngFor="let skeleton of skeletonArray" class="ion-margin-top">
        <app-skeleton-summary></app-skeleton-summary>
      </div>
    </div>
  </ng-template>
</ion-content>
