<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Search</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item *ngFor="let beer of beers; trackBy: trackByBeerId" (click)="onClickItem(beer)">
            <ion-avatar slot="start">
                <ion-img [src]="beer.image_url ? beer.image_url : ALT_IMAGE_URL"></ion-img>
            </ion-avatar>
            <ion-label>{{beer.name}}</ion-label>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="getPage($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
